<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Produtos
      <small>Listagem de Produtos</small>
    </h1>

    <!-- EDITAR ROTAS -->
    <ol class="breadcrumb">
      <li><a routerLink="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a routerLink="/admin/produtos">Produtos</a></li>
      <li class="active">Todos os produtos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <div class="row">
                <div class="col-12 col-md-8">
                  <h3 class="box-title">Todos os produtos</h3>
                </div>
            </div>
            <div class="row" style="margin: 20px;">
              <div class="pull-left">
                <button type="button" class="btn btn-primary" (click)="openModal(template)">Cadastrar</button>
              </div>
              <div class="pull-right">
              <button class="btn btn-success" disabled>Categorias</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-hover" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Categoria</th>
                  <th>Nome</th>
                  <th>Quantidade</th>
                  <th>Descrição</th>
                  <th>Foto</th>
                  <th>Estado</th>
                  <th>Valor de entrada</th>
                  <th>Valor de saída</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let produto of produtos;">
                  <td>{{produto.id}}</td>
                  <td>{{produto.categoria}}</td>
                  <td>{{produto.nome}}</td>
                  <td>{{produto.quantidade}}</td>
                  <td>{{produto.descricao}}</td>
                  <td><img height="50px" width="50px" 
                    [src]="produto.foto != null ? produto.foto : '../../../../assets//imgs/product.png'"></td>
                  <td>{{produto.esta_ativo}}</td>
                  <td>{{produto.valorEntrada}}</td>
                  <td>{{produto.valorSaida}}</td>
                  <!-- <td>{{produto.}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal de Cadastro -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastrar produtos</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Formulario de Cadastro -->
    <div class="register-box-body">

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group has-feedback">
          <input formControlName="nome" type="text" class="form-control" placeholder="Nome do produto">
          <span class="fa fa-cubes form-control-feedback"></span>
          <div *ngIf="form.get('nome').invalid && (form.get('nome').dirty || form.get('nome').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('nome').hasError('required')">
              O campo é requerido!
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="quantidade" type="number" class="form-control" placeholder="Quantidade">
          <span class="fa fa-plus-square form-control-feedback"></span>
          <div
            *ngIf="form.get('quantidade').invalid && (form.get('quantidade').dirty || form.get('quantidade').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('quantidade').hasError('required')">
              O campo é requerido!
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="descricao" type="text" class="form-control" placeholder="Descrição">
          <span class="fa fa-pencil-square form-control-feedback"></span>
          <div *ngIf="form.get('descricao').invalid && (form.get('descricao').dirty || form.get('descricao').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('descricao').hasError('required')">
              O campo é requerido!
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <select formControlName="categoria" class="form-control">
            <option>Selecione</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.nome">{{categoria.nome}}</option>
          </select>
          <div *ngIf="form.get('categoria').invalid && (form.get('categoria').dirty || form.get('categoria').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('categoria').hasError('required')">
              O campo é requerido!
            </div>
          </div>
        </div>

        <div class="form-group has-feedback">
            <input formControlName="foto" (change)="capturarImg($event)" type="file" class="form-control" placeholder="Foto do produto">
            <span class="fa fa-file-image-o form-control-feedback"></span>
            <div
              *ngIf="form.get('foto').invalid && (form.get('foto').dirty || form.get('foto').touched)"
              class="alert alert-danger">
              <div *ngIf="form.get('foto').hasError('required')">
                O campo é requerido!
              </div>
            </div>
          </div>

        <div class="form-group has-feedback">
          <input formControlName="valorEntrada" type="number" class="form-control" placeholder="Valor de entrada">
          <span class="fa fa-money form-control-feedback"></span>
          <div
            *ngIf="form.get('valorEntrada').invalid && (form.get('valorEntrada').dirty || form.get('valorEntrada').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('valorEntrada').hasError('required')">
              O campo é requerido!
            </div>
          </div>
        </div>
        <div class="form-group has-feedback">
          <input formControlName="valorSaida" type="number" class="form-control" placeholder="Valor de saída">
          <span class="fa fa-money form-control-feedback"></span>
          <div
            *ngIf="form.get('valorSaida').invalid && (form.get('valorSaida').dirty || form.get('valorSaida').touched)"
            class="alert alert-danger">
            <div *ngIf="form.get('valorSaida').hasError('required')">
              O campo é requerido!
            </div>
          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-flat"
              [disabled]="!form.valid" (click)="modalRef.hide()">Cadastrar produto</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div>
</ng-template>