.box-chat{
    width: 50vh;
    right: 15px;
    bottom: 0;
    float: right;
    position: absolute;
    z-index: 999;
}
.direct-chat-messages{
    height: auto;
}
.direct-chat-text{
    height: auto;
    width: auto;
    padding: 1em;
	text-align: left;
    line-height: 1.5em;
    -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}